{% extends '::layout.html.twig' %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 

{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
  
<div class="container" >
    <section class="register">
    <h1>Asociacion de Ingrediente </h1>

    
    <form action="{{ path('ens_inventario_create') }}" method="post" id="login">
 {{ form_start(form) }}
{{ form_errors(form) }}
    <table>
        <td width='10'></td>
       <td>
        <div style="display: none;">
        {{ form_row(form.submit, { 'label': 'Crear' }) }}
    </div>
                   <div class="error">
            {{ form_errors(form.fkIidPlato) }}</div>       
        <table>  <td width="100">
        {{ form_label(form.fkIidPlato, 'Plato:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(form.fkIidPlato) }}</td>
        </table>
      
<div class="error">
            {{ form_errors(form.fkIidIngrediente) }}</div>       
        <table>  <td width="100">
        {{ form_label(form.fkIidIngrediente, 'Ingrediente:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(form.fkIidIngrediente) }}</td>
        </table>
   
           <div class="error">
            {{ form_errors(form.fkIidMedida) }}</div>       
        <table>  <td width="100">
        {{ form_label(form.fkIidMedida, 'Medida:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(form.fkIidMedida) }}</td>
        </table>
           <div class="error">
            {{ form_errors(form.dcantidad) }}</div>       
        <table>  <td width="100">
        {{ form_label(form.dcantidad, 'Cantidad:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(form.dcantidad) }}</td>
        </table>
           
</table>                          
<p class="submit">   
                <input type="submit" name="commit" value="Crear">
            </p>    
   {{ form_end(form) }}     

</form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ens_inventario') }}">
            Volver a la Lista de Asociaciones
        </a>
    </li>
</ul>
    
    </section>
    </div>
{% endblock %}
