 {% extends '::layout.html.twig' %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 

{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 
<div class="container" >
    <section class="register">
    <h1>Editar Ingrediente</h1>

        <form action="{{ path('ens_ingredientes_update',{ 'id': entity.id }) }}" method="post" class="login">
 {{ form_start(edit_form) }}
{{ form_errors(edit_form) }}
    <table>
        <td width='10'></td>
       <td>
        <div style="display: none;">
        {{ form_row(edit_form.submit, { 'label': 'Crear' }) }}
    </div>
      <div class="error">
            {{ form_errors(edit_form.vnombre) }}</div>       
        <table>  <td width="100">
        {{ form_label(edit_form.vnombre, 'Nombre:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(edit_form.vnombre) }}</td>
        </table>
<div class="error">
            {{ form_errors(edit_form.icantidad) }}</div>       
        <table>  <td width="100">
        {{ form_label(edit_form.icantidad, 'Cantidad:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(edit_form.icantidad) }}</td>
        </table>
           <div class="error">
            {{ form_errors(edit_form.dcosto) }}</div>       
        <table>  <td width="100">
        {{ form_label(edit_form.dcosto, 'Costo:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(edit_form.dcosto) }}</td>
        </table>
    
           <div class="error">
            {{ form_errors(edit_form.fkIidEstadoIng) }}</div>       
        <table>  <td width="100">
        {{ form_label(edit_form.fkIidEstadoIng, 'Estado:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(edit_form.fkIidEstadoIng) }}</td>
        </table>
           
            <div class="error">
            {{ form_errors(edit_form.fkIidMedidaIng) }}</div>       
        <table>  <td width="100">
        {{ form_label(edit_form.fkIidMedidaIng, 'Medida:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(edit_form.fkIidMedidaIng) }}</td>
        </table>
</table>
                               
<p class="submit">   
                <input type="submit" name="commit" value="Editar">
            </p>    
               {{ form_end(edit_form) }} 
            </form>
    
    
</section>
    <br><br>
        <ul class="record_actions">
    <li>
        <a href="{{ path('ens_ingredientes') }}">
            Volver a Lista de Ingredientes
        </a>
    </li>
    
</ul>   
    </div>
{% endblock %}
