 {% extends '::layout.html.twig' %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 

{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 
<div class="container" >
    <section class="register">
    <h1>Ingrediente: <strong>{{ entity.vnombre }}</strong></h1>

    <table class="record_properties">
        <tbody>
            
            <tr>
                <th>Cantidad: </th>
                <td>{{ entity.icantidad }}</td>
            </tr>
            <tr>
                <th>Costo: </th>
                <td>{{ entity.dcosto }}</td>
            </tr>
            <tr>
                <th>Precio: </th>
                <td>{{ entity.dprecio }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.vestado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
            <br>
    <li>
        <a href="{{ path('ens_ingredientes') }}">
            Volver a Lista de Ingredientes
        </a>
    </li>
    <li>
        <a href="{{ path('ens_ingredientes_edit', { 'id': entity.id }) }}">
            Editar 
        </a>
    </li>
    
</ul>
{% endblock %}
