{% extends '::layout.html.twig' %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('flash_info') %}
        <div class="isa_info">
            {{ flashMessage }}
        </div>
        <br><br>
    {% endfor %}


    {% for flashMessage in app.session.flashbag.get('flash_warning') %}
        <div class="isa_warning">
            {{ flashMessage }}
        </div>
        <br><br>
    {% endfor %}



    {% for flashMessage in app.session.flashbag.get('flash_error') %}
        <div class="isa_error">
            {{ flashMessage }}
        </div>
        <br><br>
    {% endfor %}

    <h1>Creación de Personas</h1>

    <div class="container" >

        <section class="register">    
            <form action="{{ path('Persona_create') }}" method="post" id="login">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <table>
                    <td width='10'></td>
                    <td>
                        <div style="display: none;">
                            {{ form_row(form.submit, { 'label': 'Crear' }) }}
                            {{ form_row(form.vclave, { 'label': 'Clave','required': false }) }} 
                        </div>
                        <div class="error">
                            {{ form_errors(form.vruc) }}</div>       
                        <table>  <td width="100">
                                {{ form_label(form.vruc, 'Ruc:', {'required': 'true'}) }}</td>
                            <td>{{ form_widget(form.vruc) }}</td>
                        </table>

                        <div class="error">
                            {{ form_errors(form.fkTipopersona) }}</div>       
                        <table>  <td width="100">
                                {{ form_label(form.fkTipopersona, 'Rol:', {'required': true}) }}</td>
                            <td>{{ form_widget(form.fkTipopersona) }}</td>
                        </table>

                    </td>
                    <td width='50'></td>
                    <td>

                        <div class="error">
                            {{ form_errors(form.vnombre) }}</div>       
                        <table>  <td width="100">
                                {{ form_label(form.vnombre, 'Nombre:', {'required': 'true'}) }}</td>
                            <td>{{ form_widget(form.vnombre) }}</td>
                        </table>
                        <div class="error">
                            {{ form_errors(form.icorreo) }}</div>       
                        <table>  <td width="100">
                                {{ form_label(form.icorreo, 'Correo:', {'required': 'true'}) }}</td>
                            <td>{{ form_widget(form.icorreo) }}</td>
                        </table>


                    </td>
                    <td width='50'></td>
                    <td>

                        <div class="error">
                            {{ form_errors(form.vapellido) }}</div>       
                        <table>  <td width="100">
                                {{ form_label(form.vapellido, 'Apellido:', {'required': 'true'}) }}</td>
                            <td>{{ form_widget(form.vapellido) }}</td>
                        </table>


                    </td>

                </table>
                <p class="submit">   
                    <input type="submit" name="commit" value="Crear">
                </p>    
                {{ form_end(form) }}     

            </form>

        </section>
    </div>
    {% if (app.session.get('usuario_rol')=="Administrador") %}
        <ul class="record_actions">
            <li>
                <a href="{{ path('Persona') }}">
                    <br><br>
                    Lista de Personas
                </a>
            </li>
        </ul>
    {%endif%}
{% endblock %}


