{% extends '::layout.html.twig' %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 

{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 
<div class="container" >
    <h1>Estatus de Órdenes por Comensal</h1>
    <section class="register">

    
    <table class="records_list">
        <thead>
            <tr>
                 <td align="center" width="120"><h1><strong>Persona</strong></h1></td>
                <td width="10"></td>
                 <td align="center" width="120"><h1><strong>Mesa</strong></h1></td>
                <td width="10"></td>
                <td align="center" width="120"><h1><strong>Fecha de Orden</strong></h1></td>
                <td width="10"></td>
                
                <td align="center" width="120"><h1><strong>Precio Total</strong></h1></td>
                <td width="10"></td>
                <td align="center" width="120"><h1><strong>Estado de Orden</strong></h1></td>
                <td width="10"></td>
                <td align="center" width="120"><h1><strong>Acciones</strong></h1></td>
                <td width="10"></td>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td align="center" width="120"><a href="{{ path('ens_solicitud_show', { 'id': entity.id }) }}">{{ entity.fkIidPersona }}</a></td>
                <td width="10"></td>
                <td align="center" width="120">{{ entity.fkIidMesa }}</td>
                <td width="10"></td>
                <td align="center" width="120">{% if entity.dtfechaCompra %}{{ entity.dtfechaCompra|date('d-m-Y') }}{% endif %}</td>
                <td width="10"></td>
                <td align="center" width="120">{{ entity.dcosto}}</td>
                <td width="10"></td>
                <td align="center" width="120">{{ entity.fkIidEstadoCompra }}</td>
                <td width="10"></td>
                <td align="center"  width="120">
                <ul>
                    <li>
                        <a href="{{ path('ens_solicitud_edit', { 'id': entity.id }) }}">Ver/Editar</a>
                    </li>
                </ul>
                </td>
                <td width="10"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </section>
</div><br>
        <ul>
        <li>
            <a href="{{ path('ens_solicitud_new') }}">
               Crear Nueva Orden de Compra
            </a>
        </li>
    </ul>

    {% endblock %}
