 {% extends '::layout.html.twig' %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 

{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 
<div class="container" >
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <section class="register">

      <form action="{{ path('ens_solicitud_create') }}" method="post" id="login">
 {{ form_start(form) }}
{{ form_errors(form) }}
       <div style="display: none;">
        {{ form_row(form.submit, { 'label': 'Crear' }) }}
           {{ form_row(form.dtfechaCompra, { 'label': 'Fecha', 'required':'true' }) }}
           {{ form_row(form.dcosto, { 'label': 'Costo','required':'true'  }) }}
           {{ form_row(form.fkIidEstadoCompra, { 'label': 'Estado','required':'true'  }) }}
    </div>
          <table>
              <tr>
                  <h1>Registro de Compra</h1>
              <td>
          <div class="error">
            {{ form_errors(form.fkIidPersona) }}</div>       
        <table>  <td width="90">
        {{ form_label(form.fkIidPersona, 'Persona:') }}</td>
            <td>{{ form_widget(form.fkIidPersona,{'required': 'true'}) }}</td>
        </table>
                  </td>
                  <td width="20"></td>
                  <td>
          <div class="error">
            {{ form_errors(form.fkIidEstadoCompra) }}</div>       
        <table>  <td width="90">
                Estado:
            <td><select disabled> <option>{{entity.fkIidEstadoCompra}}</option></select></td>
        </table>
        
    
                  </td>
                  <td width="20"></td>
                  
                  <td>
                      
                      <div class="error">
            {{ form_errors(form.fkIidMesa) }}</div>       
        <table>  <td width="90">
        {{ form_label(form.fkIidMesa, 'Mesa:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(form.fkIidMesa,{'required': 'true'}) }}</td>
        </table>
               </td>
               
               
               
     </tr>           
<br>
</table>
  <br><br>
<h1>Platos</h1>    

        <br>
<ul class="platos" data-prototype="{{ form_widget(form.platos.vars.prototype)|e }}">
        {% set k =1 %}
         {% for compraplato in form.platos %}

    <li>            
        
            
            {{ form_label(compraplato.fkIidCplato, 'Plato:') }}
            {{ form_widget(compraplato.fkIidCplato)}}
          
            {{ form_label(compraplato.icantidad, 'Cantidad:') }}
            {{ form_widget(compraplato.icantidad) }}
            
            <div style="display: none;">
            
            
            {{ form_label(compraplato.fkIidCompra, 'Compra:') }}
            {{ form_widget(compraplato.fkIidCompra) }}
            
            </div>
                
          
        
    </li>
        {% endfor %}
    
</ul>

    <br>

    <p class="submit">   
                <input type="submit" name="commit" value="Crear">
            </p>    
   {{ form_end(form) }}     
</form>
    <br>
        <ul class="record_actions">
    <li>
        <a href="{{ path('ens_solicitud') }}">
            Lista de Solicitudes
        </a>
    </li>
</ul>
    

  <script>
      
            var $collectionHolder;
            // setup an "add a tag" link

            //var $addTbdetcontratorifLink = $('<table width="380" align="right"><td><a href="#" class="add_tbdetcontratorif_link">Agregar</a></td></table>');
            var $addTbdetcontratorifLink = $('<br><table width="500" align="right"><td><a href="#" class="add_tbdetcontratorif_link">Agregar</a></td></table>');
            var $newLinkLi = $('<div></div>').append($addTbdetcontratorifLink);
            
            jQuery(document).ready(function() {
                // Get the ul that holds the collection of tags
                $collectionHolder = $('ul.platos');

                // add a delete link to all of the existing tag form li elements

                $collectionHolder.find('li').each(function() {
                    addTbRelCompraPlatoFormDeleteLink($(this));
                });


                // add the "add a tag" anchor and li to the tags ul
                
                $collectionHolder.append($newLinkLi);
                
                // 
                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $collectionHolder.data('index', $collectionHolder.find('li').length);

                //alert("Han cambiado mi valor"+ $collectionHolder.data('index'));

                $addTbdetcontratorifLink.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();
                    // add a new tag form (see next code block)
                    addTbRelCompraPlatoForm($collectionHolder, $newLinkLi);
                });

            });
            function addTbRelCompraPlatoFormDeleteLink($contratoFormLi) {
                var $removeFormA = $('<table width="500" align="right"><td><a href="#">Quitar</a></td></table>');
                $contratoFormLi.append($removeFormA);

                $removeFormA.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    var $collectionHolder = $('ul.platos');
                    var index = $collectionHolder.find('li').length;

                    if (index === 1) {
                        alert("Estimado. Recuerde que debe existir al menos un plato.\n\
                            --No puede eliminar el que único que existe.");
                    } else {

                        $contratoFormLi.remove();
                    }
                    e.preventDefault();
                    // remove the li for the tag form
                });
            }
            function addTbRelCompraPlatoForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');
                //alert("Prototype "+ prototype);
                // get the new index
                var index = $collectionHolder.data('index');
                //alert("Han cambiado mi valorPPP"+ $collectionHolder.data('index'));

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);
                
                
                //var newFormD = "<label for=b_buffalobundle_tbdetusuariodatos_contratos_" + index + "_tbdetcontratorif>Empresa: </label><select id='b_buffalobundle_tbdetusuariodatos_contratos_" + index + "_tbdetcontratorif' name='b_buffalobundle_tbdetusuariodatos[contratos][" + index + "][tbdetcontratorif]'class='tbdetempresa_selector'><option value=>Rif</option></select>";
                //var tdForm= "<td width='20'></td>";
                
             
                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                
                var $newFormLi = $('<li><table id="tabla"><td>'+newForm+
                        '</td><td></td><td></td></table></li>');
                
                
                $newFormLi.each(function() {
                var text = $(this).html();
                //text = text.replace('<div', '<td ');
                $(this).html(text);
                });
                
                
                $newLinkLi.before($newFormLi);
                
                $("label[for='b_buffalobundle_tbcompra_platos_"+index+"_fkIidCplato']").text('Plato:');
                $("label[for='b_buffalobundle_tbcompra_platos_"+index+"_icantidad']").text('Cantidad:');
                $("label[for='b_buffalobundle_tbcompra_platos_"+index+"_fkIidCompra']").hide();
                $("#b_buffalobundle_tbcompra_platos_"+index+"_fkIidCompra").hide();
                addTbRelCompraPlatoFormDeleteLink($newFormLi);
                $('#b_buffalobundle_tbcompra_platos_'+index+'_fkIidCplato').append('<option value=0>Seleccionar</option>');
                $("select option[value='0']").attr("selected","selected");
                $("#b_buffalobundle_tbcompra_platos_"+index+"_fkIidCplato option[value=]").hide();
        
        
            
            }

        </script>
        </section>
</div>


{% endblock %}
