{% extends '::layout.html.twig' %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 

{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 
<div class="container" >
    <section class="register">
        
    <h1>Orden realizada por: <strong> {{ entity.fkIidPersona }}-{{ entity.fkIidPersona.icedula }} </strong></h1>

    <table class="record_properties">
        <tbody>
      <br>
            <tr>
                <td width="80"></td>
                <td><strong>Estado: </strong></td><td width="10"></td>
                <td>{{ entity.fkiIdEstadoCompra}}</td>
            <td width="40"></td>
            <td><strong>Mesa: </strong></td><td width="10"></td>
                <td>{{ entity.fkIidMesa.inroMesa}}</td>
            <td width="40"></td>
            <td><strong>Fecha Orden: </strong></td><td width="10"></td>
                <td>{{ entity.dtfechaCompra|date('d-m-Y') }}</td>
            <td width="40"></td>
                <td><strong>Precio Total de la Orden</strong></td><td width="10"></td>
                <td>{{ entity.dcosto }}</td>
            </tr>
            </table>
    <br><br><br><br>
    <table>
            
                <h1>Listado de Pedidos</h1>
                <tr>
                    <td width="40"></td>
                    <td align="left"><h1><strong>Plato</strong></h1></td>
                    <td width="40"></td>
                     <td align="center" width="100"><h1><strong>Costo--Unidad</strong></h1></td>
                     <td width="40"></td>
                     <td align="center" width="100"><h1><strong>Precio--Unidad</strong></h1></td>
                     <td width="40"></td>
                     <td align="center" width="100"><h1><strong>Unidades</strong></h1></td>
                     <td width="40"></td>
                     <td align="center" width="100"><h1><strong>Precio-Total</strong></h1></td>
                     <td width="40"></td>
                    </tr>
                <br>
                
                {% for plato in entity.platos  %}
                
                <tr>
                    <td width="40"></td>
                 <td align="left">

                    <a href="{{ path('ens_platos_show', { 'id': plato.fkIidCplato.id }) }}">
                {{ plato.fkIidCplato.vnombre }}</a> 
                   
                </td>
                <td width="40"></td>
                <td align="center">
                     {{ plato.fkIidCplato.dprecio }}
                    </td>
                <td width="40"></td>
                <td align="center">
                    {{ plato.fkIidCplato.dprecio+(plato.fkIidCplato.dprecio*0.25) }}
                    </td>
                <td width="40"></td>
                    <td align="center">
                    {{ plato.icantidad}}
                </td>
                <td width="40"></td>
                           <td align="center">
                    {{ (plato.fkIidCplato.dprecio+(plato.fkIidCplato.dprecio*0.25))*plato.icantidad }}
                    </td><td width="40"></td>
                    <td>
                     
                </tr>
                {% endfor %}
                
                
    
    </table>
    <br>
    </section>
    </div>
<br><br>
   <ul class="record_actions">
    <li>
        <a href="{{ path('ens_solicitud') }}">
            Volver a la Lista
        </a>
    </li>
    <li>
        <a href="{{ path('ens_solicitud_edit', { 'id': entity.id }) }}">
            Editar Lista
        </a>
    </li>
    
</ul>     
{% endblock %}
