{% extends '::layout.html.twig' %}

{% block content %}
    <div class="container" >
    <h1>Listado Solicitudes de Servicio</h1>
    <section class="register">
        <h1>Listado de Solicitudes de Servicio</h1>
       <br>
    <table class="records_list">
        <thead>
            <tr>

                
                <td align='center' width="200"><h1><strong>Cliente</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="200"><h1><strong>Paquete</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Fecha Inicio</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Estatus Servicio</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Fecha Cierre</strong></h1></td>
                <td width="5"></td>
                <td  align='center' width="120"><h1><strong>Total Facturado</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="100"><h1><strong>Acciones</strong></h1></td>
                <td width="5"></td>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                
                <td align='center' width="200"> {{ entity[0].tbCliente}}</td>
                <td width="5"></td>
                <td align='center' width="200"> {{ entity[0].fkPaquete}}</td>
                <td width="5"></td>
                <td align='center' width="120">{% if entity[0].dfechaSolicitud %}{{ entity[0].dfechaSolicitud|date('Y-m-d') }}{% endif %}</td>
                <td width="5"></td>
                <td align='center' width="120">{{entity[0].destatusServicio}}</td>
                <td width="5"></td>
                <td align='center' width="120">{% if entity[0].dfechaCierre %}{{ entity[0].dfechaCierre|date('Y-m-d ') }}{% endif %}</td>
                <td width="5"></td>
                <td style="background: #EEEEEE" align='center' width="120">{{entity[1]}}</td>
                <td width="5"></td>
                <td align='center' width="100">
                <ul>
                    <li>
                        <a href="{{ path('Servicio_show', { 'id': entity[0].id }) }}">show/</a>
                        <a href="{{ path('Servicio_edit', { 'id': entity[0].id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul><br><br><br>
        <li>
            <a href="{{ path('Servicio_new') }}">
                Generar nueva Solicitud de Servicio
            </a>
        </li>
    </ul>
                </section>
                </div>
    {% endblock %}
