{% extends '::layout.html.twig' %}

{% block content %}
    <div class="container" >
    <h1>Listado Solicitudes de Servicio</h1>
    <section class="register">
        <h1>Listado de Solicitudes de Servicio</h1>
       <br>
    <table class="records_list">
        <thead>
            <tr>

                <td align='center' width="80"><h1><strong>ID</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Cliente</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Fecha Inicio</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Estatus Servicio</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Fecha Cierre</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="180"><h1><strong>Acciones</strong></h1></td>
                <td width="5"></td>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('Servicio_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.dfechaSolicitud %}{{ entity.dfechaSolicitud|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dfechaCierre %}{{ entity.dfechaCierre|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('Servicio_show', { 'id': entity.id }) }}">show/</a>
                        <a href="{{ path('Servicio_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul><br><br><br>
        <li>
            <a href="{{ path('Servicio_new') }}">
                Generar nueva Solicitud de Servicio
            </a>
        </li>
    </ul>
                </section>
                </div>
    {% endblock %}
