{% extends '::layout.html.twig' %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('flash_info') %}
        <div class="isa_info">
            {{ flashMessage }}
        </div>
        <br><br>
    {% endfor %}


    {% for flashMessage in app.session.flashbag.get('flash_warning') %}
        <div class="isa_warning">
            {{ flashMessage }}
        </div>
        <br><br>
    {% endfor %}



    {% for flashMessage in app.session.flashbag.get('flash_error') %}
        <div class="isa_error">
            {{ flashMessage }}
        </div>
        <br><br>
    {% endfor %}

    <h1>Generacion de Solicitud de Servicio</h1>

    <div class="container" >

        <section class="register">    
            <h1>Seleccione el cliente seguido de el paquete o productos </h1>
            <br><br>
            <form action="{{ path('Servicio_create') }}" method="post" id="login">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <table>
                    <td width='10'></td>
                    <td>
                        <div style="display: none;">
                            {{ form_row(form.submit, { 'label': 'Crear' }) }}
                            {{ form_row(form.dfechaSolicitud) }}
                            {{ form_row(form.dfechaCierre) }}
                            {{ form_row(form.destatusServicio) }}
                        </div>
                        <div class="error">
                            {{ form_errors(form.tbCliente) }}</div>       
                        <table>  <td width="100">
                                {{ form_label(form.tbCliente, 'Cliente solicitante:*', {'required': 'true'}) }}</td>
                            <td>{{ form_widget(form.tbCliente) }}</td>
                        </table>
                    </td>
                    <td width='200'>
                    </td>
                    <td>
                        <div class="error">
                            {{ form_errors(form.fkPaquete) }}</div>       
                        <table>  <td width="100">
                                {{ form_label(form.fkPaquete, 'Paquete a Solicitar', {'required': true}) }}</td>
                            <td>{{ form_widget(form.fkPaquete) }}</td>
                        </table>

                    </td>
                </table>
                        <br><br><br>                        
{# Listado de Productos#}
<h1>Productos </h1>
<br><br>
        <table class="records_list">
        <thead>
            <tr>
                <td align='center' width="80"><h1><strong>ID</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Titulo</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Monto c/u</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Precio c/u</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Cantidad Disponible</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="180"><h1><strong>Seleccionar</strong></h1></td>
                <td width="5"></td>
                
            </tr>
        </thead>
        <tbody>
        {% for  key,prod in Productos%}
            <tr>
                <td align='center' width="80"><a href="{{ path('Producto_show', { 'id': prod.id }) }}">{{ prod.id }}</a></td>
                <td width="5"></td>
                <td align='center' width="120">{{ prod.vtitulo}}</td>
                <td width="5"></td>
                <td align='center' width="120">{{ prod.vmonto }}</td>
                <td width="5"></td>
                <td align='center' width="120">{{ prod.vprecio }}</td>
                <td width="5"></td>
                <td style='background: #EEEEEE'align='center' width="120">{{ prod.vcantidad - prod.vcantidadUso}}</td>
                <td width="5"></td>
                <td align='center' width="120"><input style="width:25px;" type="number" name="p_{{prod.id}}" value='0' min=0 max='{{prod.vcantidad}}'>
                <td width="5"></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                <p class="submit">   
                    <input type="submit" name="commit" value="Crear">
                </p>    
                {{ form_end(form) }}     

            </form>

        </section>
    </div>
    {% if (app.session.get('usuario_rol')=="Administrador") %}
        <ul class="record_actions">
            <li>
                <a href="{{ path('Servicio') }}">
                    <br><br>
                    Lista de Servicios
                </a>
            </li>
        </ul>
    {%endif%}
{% endblock %}


