{% extends '::layout.html.twig' %}

{% block content %}

    {% for flashMessage in app.session.flashbag.get('flash_info') %}
        <div class="isa_info">
            {{ flashMessage }}
        </div>
        <br><br>
    {% endfor %}


    {% for flashMessage in app.session.flashbag.get('flash_warning') %}
        <div class="isa_warning">
            {{ flashMessage }}
        </div>
        <br><br>
    {% endfor %}



    {% for flashMessage in app.session.flashbag.get('flash_error') %}
        <div class="isa_error">
            {{ flashMessage }}
        </div>
        <br><br>
    {% endfor %}

    <h1>Creación de Paquetes</h1>

    <div class="container" >

        <section class="register">    
            <form action="{{ path('Paquete_create') }}" method="post" id="login">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <table>
                    <td width='10'></td>
                    <td>
                        <div style="display: none;">
                            {{ form_row(form.submit, { 'label': 'Crear' }) }}
                        </div>
                        <div class="error">
                            {{ form_errors(form.vdescripcion) }}</div>       
                        <table>  <td width="100">
                                {{ form_label(form.vdescripcion, 'Descripcion:', {'required': 'true'}) }}</td>
                            <td>{{ form_widget(form.vdescripcion) }}</td>
                        </table>

                       

                    </td>

                </table>
                <p class="submit">   
                    <input type="submit" name="commit" value="Crear">
                </p>    
                {{ form_end(form) }}     

            </form>

        </section>
    </div>
    {% if (app.session.get('usuario_rol')=="Administrador") or (app.session.get('usuario_rol')=="Caja") %}
        <ul class="record_actions">
            <li>
                <a href="{{ path('Paquete') }}">
                    <br><br>
                    Lista de Paquetes
                </a>
            </li>
        </ul>
    {%endif%}
{% endblock %}


