 {% extends '::layout.html.twig' %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 

{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 
<div class="container" >
    <section class="register">


    <h1>Edición de Medida</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ens_medidas') }}">
            Volver a la Lista de Medidas
        </a>
    </li>
    
</ul>
    </section>
</div>
{% endblock %}
