{% extends '::layout.html.twig' %}

{% block content %}
    <div class="container" >
    <h1>Listado de Productos</h1>
    <section class="register">
        <h1>Listado de Productos</h1>
       <br>
    <table class="records_list">
        <thead>
            <tr>
                <td align='center' width="80"><h1><strong>ID</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Titulo</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Monto c/u</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Precio c/u</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Descuento c/u</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Cantidad Disponible</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="120"><h1><strong>Cantidad Usada</strong></h1></td>
                <td width="5"></td>
                <td align='center' width="100"><h1><strong>Acciones</strong></h1></td>
                <td width="5"></td>
                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td align='center' width="80"><a href="{{ path('Producto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td width="5"></td>
                <td align='center' width="120">{{ entity.vtitulo}}</td>
                <td width="5"></td>
                <td align='center' width="120">{{ entity.vmonto }}</td>
                <td width="5"></td>
                <td align='center' width="120">{{ entity.vprecio }}</td>
                <td width="5"></td>
                <td align='center' width="120">{{ entity.vdescuento}}%</td>
                <td width="5"></td>
                <td align='center' width="120">{{ entity.vcantidad - entity.vcantidadUso }}</td>
                <td width="5"></td>
                <td style='background: #EEEEEE'align='center' width="120">{{( (entity.vcantidadUso*100)/entity.vcantidad)|round(3, 'floor')}}%</td>
                <td width="5"></td>
                <td align='center' width="100">
                <ul>
                    <li>
                        <a href="{{ path('Producto_show', { 'id': entity.id }) }}">show/</a>
                        <a href="{{ path('Producto_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul><br><br><br>
        <li>
            <a href="{{ path('Producto_new') }}">
                Registrar nuevo Producto
            </a>
        </li>
    </ul>
                </section>
                </div>
    {% endblock %}
