{% extends '::layout.html.twig' %}

{% block content %}
    <h1>TbProducto</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Vmonto</th>
                <td>{{ entity.vmonto }}</td>
            </tr>
            <tr>
                <th>Vprecio</th>
                <td>{{ entity.vprecio }}</td>
            </tr>
            <tr>
                <th>Vcantidad</th>
                <td>{{ entity.vcantidad }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('Producto') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('Producto_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
