{% extends '::layout.html.twig' %}

{% block content %}

{% for flashMessage in app.session.flashbag.get('flash_info') %}
<div class="isa_info">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 

{% for flashMessage in app.session.flashbag.get('flash_warning') %}
<div class="isa_warning">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
 


{% for flashMessage in app.session.flashbag.get('flash_error') %}
<div class="isa_error">
        {{ flashMessage }}
    </div>
<br><br>
{% endfor %}
     
<div class="container" >

    <section class="register">
    <h1>Registro de Platos</h1>
<form action="{{ path('ens_platos_create') }}" method="post" id="login">
 {{ form_start(form) }}
{{ form_errors(form) }}
       
  <div class="error">
            {{ form_errors(form.vnombre) }}</div>       
        <table>  <td width="100">
        {{ form_label(form.vnombre, 'Nombre:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(form.vnombre) }}</td>
        </table>
    <div class="error">
            {{ form_errors(form.dprecio) }}</div>       
        <table>  <td width="100">
        {{ form_label(form.dprecio, 'Precio:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(form.dprecio) }}</td>
        </table>
    <div class="error">
            {{ form_errors(form.vestado) }}</div>       
        <table>  <td width="100">
        {{ form_label(form.vestado, 'Estado:', {'required': 'true'}) }}</td>
            <td>{{ form_widget(form.vestado) }}</td>
        </table>

        <p class="submit">   
            <input type="submit" name="commit" value="Crear">
        </p>    
            <div style="display: none;">
        {{ form_row(form.submit, { 'label': 'Crear' }) }}
            </div>
   {{ form_end(form) }}     

        <ul class="record_actions">
    <li>
        <a href="{{ path('ens_platos') }}">
            Volver al Listado de Platos (Menu)
        </a>
    </li>
</ul>
    </section>
    </div>
{% endblock %}
